body{
    background-color: blue;
    color: green;
    text-align: left;
    font-family: "Comic Sans MS",cursive,sans-serif;
}

h1{
    text-align: right;
    color: goldenrod;
}

li{
    text-align: center;
}

h3{
    font-size: 6em;
    text-shadow: 8px 8px red;
}

h2{
    color: blue;
}

.content{
    background-color: blue;
    font-size: 14em;
}

.extreme{
    background-color: yellow;
    color: black;
}
